<script th:src="@{/jack.js}"></script>
<script>
    $(function() {
        $('#loadPage').click(function() {
            $('#centerbox').load("./1.html",
                function() {
                    alert('Content Successfully Loaded.')
                }
            );
        });
    });

    //			$(function() {　
    //				$.get("1.html", function(data) {
    //					alert(1);
    //					$("#centerbox").html(data);　
    //				});
    //				//　　$('.list-side li').click(function() {
    //				//　　// 找出 li 中的超链接 href(#id)
    //				// 　　　　var $this = $(this),
    //				// 　　　　_clickTab = $this.find('a').attr('target'); // 找到链接a中的targer的值
    //				// 　　　　$.get(_clickTab,function(data){
    //				// 　　　　　　$("#iframe").html(data);
    //				// 　　　　});
    //				//　　});
    //			});
</script>