<!-- 左侧菜单弹出层 -->
<div class="ui vertical inverted sidebar menu left" id='leftbox'>

</div>
<!-- /左侧菜单弹出层 -->
<!-- 顶部隐藏菜单 -->
<div class="ui fixed inverted blue main menu large">
    <div class="ui container fluid">

        <div class="item">
            Form
        </div>
        <div class="item">
            Form
        </div>

        <div class="right menu">

            <div class="item ui dropdown">

                <img class="ui avatar image" src="1.png" />
                <div class="content">
                    <div class="header">Tom</div>
                    admin
                </div>
                <div class="menu">
                    <a class="item">Small</a>
                    <a class="item">Medium</a>
                    <a class="item">Large</a>
                </div>
            </div>

            <div class="item">
                <div class="ui hidden right aligned search input" id="search">
                    <div class="ui transparent icon input">
                        <input class="prompt" type="text" placeholder="Search..." />
                        <i class="inverted search link icon" data-content="Search UI"></i>
                    </div>
                    <div class="results"></div>
                </div>
            </div>

            <a class="launch icon item" id="showleft">
                <i class="content icon"></i>
            </a>

        </div>
    </div>
</div>
<!-- /顶部隐藏菜单 -->